<figure class="card">
    <div class="card__emoji">{%IMAGE%}</div>
    <div class="card__title-box">
      <h2 class="card__title">{%NAME%}</h2>
    </div>
    <div class="card__details">
      <div class="card__detail-box">
        <span class="card__detail"><strong>Brand:</strong> {%BRAND%}</span>
      </div>
      <div class="card__detail-box">
        <span class="card__detail"><strong>Specs:</strong> {%SPECS%}</span>
      </div>
      <div class="card__detail-box">
        <span class="card__detail"><strong>Stock:</strong> {%STOCK%}</span>
      </div>
      <div class="card__detail-box">
        <span class="card__detail card__detail--price"><strong>Price:</strong> $ {%PRICE%}</span>
      </div>
    </div>
    <a class="card__link" href="/product?id={%ID%}"><span>View Details</span></a>
  </figure>